<!-- Dados -->
<div class="tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child box">
      <form (submit)="onSubmit()" [formGroup]="formProfile">
      <p class="title">Dados</p>

      <input class="input" formControlName="email" type="email" placeholder="Email">

      <input class="input" formControlName="companyName" type="text" placeholder="Razão Social">

      <input class="input" formControlName="cnpj" type="text" placeholder="CNPJ">

      <input class="input" formControlName="cnae" type="text" placeholder="CNAE" *ngIf="isSupplier()">

      <div  formArrayName="contacts" *ngFor="let contact of contacts.controls; let i = index">
        <form class="form-control" [formGroupName]="i">
          <input class="input" type="text" formControlName="name" placeholder="Nome do responsável">
          <input class="input" type="text" formControlName="responsibleArea" placeholder="Área responsável">
          <input class="input" type="text" formControlName="details"placeholder="Celular para Contato">
        </form>
      </div>


      <textarea class="textarea" placeholder="Digite aqui o motivo de sua mudança nos dados"></textarea>

      <button type="submit" class="button is-link">
        Salvar alterações
      </button>
    </form>
  </div>
</div>

<!-- Endereços -->
<!-- <div class="tile is-parent">
    <div class="tile is-child box">
      <p class="title">Endereços</p>

      <div class="tabs">
        <ul>
          <li class="is-active"><a>Endereço 1</a></li>
        </ul>
      </div>

      <div  formArrayName="addresses" *ngFor="let address of addresses.controls; let i = index">
        <form class="form-control" [formGroupName]="i">
          <input class="input" type="text" placeholder="Endereço">
          <input class="input" type="text" placeholder="Bairro">
          <input class="input" formControlName="cep" type="text" placeholder="CEP">
          <input class="input" formControlName="number" type="text" placeholder="Número">
          <input class="input" formControlName="complement" type="text" placeholder="Complemento">
        </form>
      </div>

      <button class="button is-link">
        Salvar alterações
      </button>

    </div>
  </div>
</div> -->
