button:disabled {
  cursor: default;
}

.input{
  margin: 10px;
}

.textarea{
  margin: 10px;
  margin-left: 10px;
}

.button {
  margin: 20px;
  margin-left: 10px;
}

.tile.is-ancestor{
  margin: auto;
}

.title.is-child {
  margin: auto;
}
