<div class="hero">
    <section class="hero-body columns">
        <div class="is-fab has-content-centered">
            <a class="button is-link is-rounded is-large" routerLink="cadastro">
              <span class="icon">
                <i class="fas fa-plus"></i>
              </span>
              <span>Adicionar produto novo</span>
            </a>
        </div>

        <div class="columns is-flex is-flex-wrap-wrap">
            <div class="column is-2 is-6-mobile is-3-tablet" *ngFor="let product of catalogue; let i = index">
                <div class="card">
                    <div class="card-image">
                      <figure class="image">
                        <img [src]="product.photo ? product.photo.path : 'assets/logo.png' " alt="Placeholder image">
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="media">
                        <div class="media-content">
                          <p class="subtitle is-5">{{product ? product.name : "Nome do produto não carregou"}}</p>
                        </div>
                      </div>
                    </div>
        
                    <footer class="card-footer">
                        <a class="card-footer-item">Editar</a>
                        <a class="card-footer-item" (click)="showDeleteModal(i)">Deletar</a>
                    </footer>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal" id="delete-modal">
	<div class="modal-background"></div>
	<div class="modal-card">
	  <header class="modal-card-head">
		  <h1 class="modal-card-title">Deletar {{productToDelete?.name}}!</h1>
	  </header>
	  <section class="modal-card-body">
      <p>Gostaria de excluir esse produto?</p>
	  </section>
	  <footer class="modal-card-foot">
		<button class="button is-danger" (click)="deleteProdut()">Deletar</button>
		<button class="button" (click)="modalService.hideModal()">Cancelar</button>
	  </footer>
	</div>
</div>