nav#main-navbar {
    padding: .0% 10%;
}

nav#main-navbar #navbarBasicExample .navbar-item {
    margin: 0 10%;
}

nav#main-navbar .navbar-brand {
    margin-right: 10%;
}

.navbar {
    background-color:#0465a5;
    background-image: none;
}

.navbar-dropdown .navbar-item {
    text-align: right;
}

.navbar-dropdown .navbar-item .icon {
    text-align: left;
    margin-right:5%;
}

.navbar-item {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.navbar-dropdown .navbar-item {
    color: initial;
}

.navbar-item:hover {
  background-color: #0274c0;
  color: white;
}

.navbar-item:focus {
  background-color: #0274c0;
  color: white;
}

.text.is-primary{
  color: white;
}
