<nav class="navbar" role="navigation" aria-label="main navigation" id="main-navbar">
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="/">
        <img src="assets/logo.jpeg" width="50px" height="auto">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item is-primary" routerLink="/">
          Pagina Inicial
        </a>

        <a class="navbar-item" routerLink="marketplace/">
          Marketplace
        </a>
        <a class="navbar-item" fragment="SobreNos">
          Sobre Nós
        </a>

      </div>

    <div class="navbar-end">
      <div class="navbar-item" *ngIf="!auth" >
          <a class="text is-primary" routerLink="login/">
            Log in
          </a>
      </div>
      <div class="navbar-item" *ngIf="auth" >
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            <p>{{userCompanyName}}</p>
            <span class="icon">
              <i class="fas fa-user"></i>
            </span>
          </a>

          <div class="navbar-dropdown" >
            <a class="navbar-item" routerLink="perfil">
              <span class="icon">
                <i class="fas fa-user"></i>
              </span>
              Abrir perfil
            </a>
            <a class="navbar-item" *ngIf="isBuyer()">
              <span class="icon">
                <i class="fas fa-list"></i>
              </span>
              Listar compras
            </a>
            <a class="navbar-item" *ngIf="isBuyer()">
              <span class="icon">
                <i class="fas fa-cart-plus"></i>
              </span>
              Carrinho
            </a>

            <a class="navbar-item" *ngIf="isSupplier()" routerLink="fornecedor">
              <span class="icon">
                <i class="fas fa-boxes"></i>
              </span>
              Meus produtos
            </a>

            <hr class="navbar-divider">
            <a class="navbar-item is-link" (click)="onLogout()">
              Log-out
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </nav>
