<!-- Testando card bulma -->
<section class="hero is-info is-small">
    <div class="hero-body">
      <div class="container has-text-centered">
        <p class="title">
          Marketplace
        </p>
        <!-- <p class="subtitle">
          Subtitle teste
        </p> -->
      </div>
    </div>
  </section>
  <div class="box cta">
    <p class="has-text-centered">
      <span class="tag is-primary ">OFERTA</span> BLACK FRIDAY 10% DE DESCONTO .
    </p>
  </div>


<!-- Testando card bulma -->

  <section class="container">
    <div class="columns features">

      <aside class="column is-3 is-narrow-mobile is-fullheight section">
        <p class="menu-label is-hidden-touch">Filtros</p>
        <form [formGroup]="filters" (change)="changeSearch()">
            <ul class="menu-list">
                <li>
                    <div class="field is-horizontal">
                        <p class="control has-icons-left has-icons-right" [ngClass]="{'is-loading': loadingSearching}">
                            <input class="input" type="email" placeholder="Faça sua pesquisa..."
                            formControlName="search">
                            <span class="icon is-small is-left">
                                <i class="fas fa-search"></i>
                            </span>
                        </p>
                    </div>
                </li>

                <hr />

                <li>
                    <p class="menu-label is-hidden-touch">Categorias</p>
                    <ul>
                        <li *ngFor="let category of categories">
                            <label class="checkbox">
                                <input type="checkbox">
                                {{category.name}}
                            </label>
                        </li>
                    </ul>
                </li>
            </ul>
        </form>
      </aside>

      <div class="column is-3">
        <div class="card is-shady">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="assets/ferramenta.png" class="is-rounded" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h4>Tempor orci dapibus faber in.</h4>
              <p>Ut venenatis tellus in metus vulputate.  S neque egestas cmonsu songue. Phasellus vestibulum lorem
              sed risus.</p>
              <span class="button is-link modal-button" data-target="modal-card">Modal Card</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
