<main>
	<fieldset>
		<div class="form">
			<form [formGroup]="formCliente" (ngSubmit)="onSubmit()">
				<div class="item" style="width:88px ;">
					<img src="assets/u8.png" alt="user-icon" />
				</div>

				<p class="notification is-danger is-light" *ngIf="message" style="margin: 2% 0">
					<button class="delete" (click)="clearMessage()"></button>
					{{message}}
				</p>
				
				<div class="field">
					<p class="control has-icons-left has-icons-right">
						<input class="input" type="email" placeholder="Digite seu email:" formControlName="email">
						<span class="icon is-small is-left">
							<i class="fas fa-envelope"></i>
						</span>
						<span class="icon is-small is-right">
							<i class="fas fa-check"></i>
						</span>
					</p>
				</div>
				<div class="field">
					<p class="control has-icons-left">
						<input class="input" type="password" placeholder="Digite seu senha:" formControlName="password">
						<span class="icon is-small is-left">
							<i class="fas fa-lock"></i>
						</span>
					</p>
				</div>
				<div class="field">
					<p class="control">
						<button class="button is-success">
							Login
						</button>
					</p>
				</div>
			</form>

		</div>
	</fieldset>
</main>