<dir class="container">
    <nav>

    </nav> 

    <section class="is-flex is-flex-wrap-wrap">
        <a class="column is-3" *ngFor="let product of products" routerLink='produtos/{{product.id}}'>
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <img id="artwork" src="assets/logo.png">
                        <br>
                        <div class="button is-fullwidth has-text-weight-semibold"
                            href="https://dribbble.com/shots/14429340-DigitalEye-Cameras-Landing-Page" [title]="product.description"
                            target="_blank">{{product.name}}</div>
                    </div>
                </div>
            </div>
        </a>
    </section>

    <section class="footer">
        <nav class="pagination" role="navigation" aria-label="pagination">
            <button class="button pagination-previous"
            [disabled]="paginationService.isFirstPage()" title="This is the first page" (click)="previusPage()">
                Pagina anterior
            </button>

            <button class="button pagination-next" title="This is the first page" (click)="nextPage()"
            [disabled]="paginationService.isLastPage()" >
                Proxima Pagina
            </button>

            <ul class="pagination-list">
                <li *ngFor="let number of [].constructor(paginationService.totalPages); let pageNumber = index;">
                    <a class="pagination-link" aria-label="Page 1" aria-current="page" (click)="updatePage()"
                        routerLink="/produtos" [queryParams]="{page: pageNumber + 1}"
                        [ngClass]="{'is-current is-primary':pageNumber + 1 == paginationService.pageNumber}">
                            {{pageNumber + 1}}
                    </a>
                </li>
            </ul>
        </nav>
    </section>

</dir>