<div class="column is-3">
    <div class="card">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48">
                        <img class="is-rounded" src="assets/logo.png" alt="Placeholder image">
                        
                    </figure>
                </div>
           
            </div>
            <div class="content">
                <img id="artwork" src="assets/logo.png">
                <br>
                <a class="button is-fullwidth has-text-weight-semibold"
                    href="https://dribbble.com/shots/14429340-DigitalEye-Cameras-Landing-Page"
                    target="_blank">Perform a task</a>
            </div>
        </div>
    </div>
</div>