<dir class="container">
    <nav>

    </nav> 

    <section class="is-flex is-flex-wrap-wrap">
        <a class="column is-3" *ngFor="let product of products" routerLink='produtos/{{product.id}}'>
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <img id="artwork" src="assets/logo.png">
                        <br>
                        <div class="button is-fullwidth has-text-weight-semibold"
                            href="https://dribbble.com/shots/14429340-DigitalEye-Cameras-Landing-Page" [title]="product.description"
                            target="_blank">{{product.name}}</div>
                    </div>
                </div>
            </div>
        </a>
    </section>

    <section>
        <nav class="pagination" role="navigation" aria-label="pagination">
            <a class="pagination-previous is-disabled" title="This is the first page">Previous</a>
            <a class="pagination-next">Next page</a>
            <ul class="pagination-list">
            <li>
                <a class="pagination-link is-current" aria-label="Page 1" aria-current="page">1</a>
            </li>
            <li>
                <a class="pagination-link" aria-label="Goto page 2">2</a>
            </li>
            <li>
                <a class="pagination-link" aria-label="Goto page 3">3</a>
            </li>
            </ul>
        </nav>
    </section>

</dir>