#page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;  
  }

footer{
    position: absolute;
    bottom:auto;
    background-color: #000000;
    font-style: italic;
    width: 100%;
    height: 2.5rem;  
        
    
    

}

.menu-list a{
    color: antiquewhite;
    hover: #000000;
    
}
p.menu-label  {
    color: rgb(8, 163, 117);
}
.menu-list a:hover{
    color:rgb(8, 163, 117);
    text-decoration:underline;

}
article#notification {
    position: fixed;
    right: 4%;
    z-index: 5;
}
