<main id="main-body">
    <div id="vertical-links">
        <ul>
            <li>Instagram</li>
            <li>Behance</li>
        </ul>
    </div>

    <div id="main-message" class="fadeOut">
        <div class="block">
            <h3>{{mainSlide.date}}</h3>
            <h1>{{mainSlide.title}}</h1>
            <p>{{mainSlide.text}}</p>
            <div class="button-div">
                <button id="explore-button">
                    Explore
                </button>
            </div>
        </div>
    </div>
</main>