<section id="section-body">
  <div class="columns features">
    <div class="column is-4" *ngIf="mainSlide">
      <div class="card is-shady">
        <div class="card-content">
          <div class="content">
            <h4>Click on image above</h4>
            <p>{{mainSlide.text}}</p>
            <span class="button is-link modal-button" data-target="modal-image2">Image modal</span>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="column is-4">
      <div class="card is-shady">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="https://source.unsplash.com/6Ticnhs1AG0" alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            <h4>{{mainSlide.title}}</h4>
            <p>Ut venenatis tellus in metus vulputate. Amet consectetur adipiscing elit pellentesque. Sed arcu non odio euismod lacinia at quis risus. Faucibus turpis in eu mi bibendum neque egestas cmonsu songue. Phasellus vestibulum lorem
            sed risus.</p>
            <span class="button is-link modal-button" data-target="modal-card">Modal Card</span>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-4 modal-button" data-target="modal-image">
      <div class="card is-shady">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="https://res.cloudinary.com/ameo/image/upload/v1568711475/pexels-photo-1302883_fjje0f.jpg" alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            <h4>{{mainSlide.buttonMessage}}</h4>
            <p>Imperdiet dui accumsan sit amet nulla facilisi morbi. Fusce ut placerat orci nulla pellentesque dignissim enim. Libero id faucibus nisl tincidunt eget nullam. Commodo viverra maecenas accumsan lacus vel facilisis.</p>
            <span class="button is-link modal-button" data-target="modal-image">Image modal</span>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</section>
