<main class="container hero is-fullheight">
	<div class="hero-head mt-5">
		<h1 class="title is-2 is-spaced">Cadastrar novo produto</h1>
	</div>

	<section class="hero-body">
		<div class="columns">
			<div class="column is-two-thirds">
				<form class="form is-flex is-flex-direction-column" [formGroup]="formCatalogue" (ngSubmit)="onSubmit()">
					<div class="field has-addons">
						 <div class="control">
							<button class="button is-info" (click)="selectProduct()" type="button">
								<i class="fas fa-box-open mr-3"></i>
								Selecionar produto
							</button>
						</div>
						<p class="control">
							<input class="input" type="text" placeholder="Ex Caneta:" 
								readonly [value]="selectedProduct.name" />
						</p>
					</div>

					<div class="field">
						<p class="control has-icons-left has-icons-right">
							<input class="input" type="text" placeholder="Digite o titulo do produto:  Ex: Caneta Bic - Caixa com 50 Unidades"
							formControlName="name" required />
							<span class="icon is-small is-left">
								<i class="fas fa-box-open"></i>
							</span>
						</p>
					</div>

					<div class="field">
						<p class="control">
							<textarea class="textarea" placeholder="Descrição do produto:" formControlName="description" (blur)="outDescription($event)"></textarea>
						</p>
					</div>


					<div class="field">
						<div class="control has-icons-left">
							<div class="select">
							  <select required formControlName="packageTypeId">
								<option selected disabled>Escolher tipo de embalagem:</option>
								<option [value]="package.id" *ngFor="let package of packeges">{{package.name}}</option>
							  </select>
							</div>
							<div class="icon is-small is-left">
							  <i class="fas fa-box"></i>
							</div>
						  </div>
					</div>

					<div class="field has-addons">
						<p class="control">
							<span class="button is-static">
							R$
							</span>
						</p>
						<p class="control is-expanded">
							<input class="input" type="number" placeholder="Digite o preço do produto: Ex. 11.99"
							formControlName="price" />
						</p>
					</div>

					<div class="field">
						<div class="file is-link">
							<label class="file-label">
								<input class="file-input" multiple type="file" (change)="onChangeImage($event)">
								  <span class="file-cta">
									<span class="file-icon">
										  <i class="fas fa-upload"></i>
									</span>
									<span class="file-label">
									Adicionar imagens
									</span>
							  </span> 
							</label>
						</div>
					</div>
					

					<div class="field buttons">
						<button class="button is-success" type="submit">
							<span class="icon">
								<i class="fas fa-check"></i>
							</span>
							<span>Cadastror produto</span>
						</button>

						<a class="button is-warning" routerLink="/fornecedor">
							<span class="icon">
								<i class="fas fa-check"></i>
							</span>
							<span>Cancelar</span>
						</a>
					</div>
				</form>
			</div>
			<div class="column"> 
				<div class="columns is-multiline">
					<div class="column" *ngIf="photos.length < 1">
						<div class="card">
							<header class="card-header">
								<p class="card-header-title">
									Imagem padrão de produto
								</p>
						</header>


						<div class="card-image">
							<figure class="image is-square">
								<img [src]="selectedProduct.path ? selectedProduct.path : 'assets/logo.png'" />
							</figure>
						</div>
	
						<dir class="card-content">
						</dir>
						
					</div>
					</div>

					<div class="column" *ngFor="let photo of photos; let i = index">
						<div class="card">
						<header class="card-header">
							<p class="card-header-title">
								{{"supplier_" + selectedProduct.id + "_" + i + "." + photo.mimeType}}
							</p>
							<button class="card-header-icon" aria-label="Remover foto" type="button" (click)="removePhoto(i)">
								<span class="icon">
									<i class="fas fa-trash" aria-hidden="true"></i>
								</span>
							</button>	
						</header>
						<div class="card-image">
							<figure class="image is-square">
								<img [src]="photo.data" />
							</figure>
						</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
</main>

<div class="modal" id="products-modal">
	<div class="modal-background"></div>
	<div class="modal-card">
	  <header class="modal-card-head">
		<h1 class="modal-card-title">Selecionar produtos</h1>
		<button class="delete" aria-label="close" (click)="modalService.hideModal()"></button>
	  </header>
	  <section class="modal-card-body">
		<div class="columns is-multiline">
			<a class="column is-3" *ngFor="let product of products" (click)="setTemporaryProduct(product.id, product.name, product.productPhoto.path)">
				<div class="card" [ngClass]="{'is-selected' : product.name == temporaryProduct.name}">
					<div class="card-content">
						<div class="content">
							<img id="artwork" src="{{product.productPhoto ? product.productPhoto.path : 'assets/logo.png'}}">
							<div class="button is-fullwidth has-text-weight-semibold" [title]="product.description" >{{product.name}}</div>
						</div>
					</div>
				</div>
			</a>

			<div class="column is-full box" *ngIf="!products">
				<b>Não produto foi listado!</b>
			</div>
		</div>
	  </section>
	  <footer class="modal-card-foot">
		<button class="button is-link" (click)="confirmProduct()">Selecionar</button>
		<button class="button" (click)="modalService.hideModal()">Cancelar</button>
		<a class="button is-info" routerLink="/produto/cadastro">
			<span class=" icon-text">
				<span class="icon">
				  <i class="fas fa-plus"></i>
				</span>
				<span>Cadastrar produto novo</span>
			</span>
		</a>
	  </footer>
	</div>
</div>