<main class="container">
	<fieldset class="columns is-centered">
		<div class="form box column ">
			<form [formGroup]="formProduto" (ngSubmit)="onSubmit()">
				<div class="item" style="width:88px ;">
					<img src="assets/u8.png" alt="user-icon" />
				</div>
				
				<div class="field">
					<p class="control has-icons-left has-icons-right">
						<input class="input" type="text" placeholder="Digite o nome do seu produto:" formControlName="name">
						<span class="icon is-small is-left">
							<i class="fas fa-envelope"></i>
						</span>
					</p>
				</div>
                <div class="field">
					<p class="control has-icons-left has-icons-right">
						<input class="input" type="text" placeholder="Descrição do produto:" formControlName="description">
						<span class="icon is-small is-left">
							<i class="fas fa-envelope"></i>
						</span>
					</p>
				</div>
				<div class="control has-icons-left">
					<div class="select">
						<select formControlName="categoryId">
							<option disabled selected>Selecionar categoria</option>
                            <option value="{{category.id}}" *ngFor="let category of categories">{{category.name}}</option>
                        </select>
					</div>
					<div class="icon is-small is-left">
					  <i class="fas fa-list"></i>
					</div>
				</div>

				<p class="help is-danger" *ngIf="" style="margin: 2% 0"></p>

				<div class="field file is-info">
					<label class="file-label">
					  <input class="file-input" type="file" (change)="onChangeFileInput($event)">
					  <span class="file-cta">
						<span class="file-icon">
						  <i class="fas fa-cloud-upload-alt"></i>
						</span>
						<span class="file-label">
						  Adicionar imagens
						</span>
					  </span>
					</label>
				  </div>

				<div class="field">
					<p class="control">
						<button class="button is-success">
							Cadastrar produto
						</button>
					</p>
				</div>
			</form>

			<button class="button is-success" (click)="onUpload()">
				Teste de imagem
			</button>

		</div>

	</fieldset>
	<div class="block">
		<div class="is-flex">
			<div class="box column is-2" *ngFor="let img of photos">
				<button class="delete"></button>
				<figure class="column image">
					<img [src]="img.data" />
					<caption>{{img.name}}</caption>
				</figure>
			</div>
		</div>

	</div>
</main>