@charset "UTF-8";
@import "../node_modules/bulma/bulma.sass";

/* You can add global styles to this file, and also import other style files */

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 1S;
    animation-timing-function: ease-out;
}

@keyframes fadeIn {
    from {opacity: 0; margin-left: -10%;}
    to {opacity: 1; margin-left:0;}
}


.fadeOut {
    animation-name: fadeOut;
    animation-duration: 1S;
    animation-timing-function: ease-in;
}

@keyframes fadeOut {
    0% {opacity: 1; margin-left: 0%;}
    80% {opacity: 0; margin-left:-10;}
    100% { opacity: 0;}
}