<header>
    <section class="hero is-info is-small">
      <!-- <div class="hero-body">
        <div class="container has-text-centered">
          <p class="title">
            Marketplace
          </p>
        </div>
      </div> -->
    </section>
    <div class="box cta">
      <p class="has-text-centered">
        <span class="tag is-warning is-medium">ESQUENTA BLACK FRIDAY</span> Confira as ofertas por tempo limitado.
      </p>
    </div>
</header>

<section class="section"*ngIf="product">
  <div class="columns is-vcentered is-multiline">
    <div class="column is-6-tablet is-5-desktop has-text-centered">
      <img src="{{selectedPhoto ? selectedPhoto.path : 'assets/logo.png'}}" alt="image" class="px-6">
    </div>
    <div class="column is-6-tablet is-5-desktop">
      <h1 class="is-size-3-mobile is-size-1-desktop title">{{product.name}}</h1>
      <h3 class="is-size-4-mobile is-size-3-desktop subtitle">{{product.product.name}}</h3>
      <p>{{product.description}}</p>

      <p class="mt-6 mb-3">Por: <span class="subtitle is-4">{{product.price | currency : 'BRL'}}</span></p>
      <p><button class="button is-link">Adicionar ao carrinho</button></p>
    </div>
  </div>
</section>