@import 'variables';
.fadeOut {
    animation-name: fadeOut;
    animation-duration: $speed;
    animation-timing-function: $easing;
}

@keyframes fadeOut {
    from {opacity: 0; margin-left: -10%;}
    to {opacity: 1; margin-left:0;}
}

article#article-body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3%;

    background-position: center;
    background-size: cover;
    background-clip: padding-box;
    background-repeat: no-repeat;

    min-height: 85vh;
    max-height: 100vh;

}

article #main-message {
    display: grid;
    grid-template-rows: 10% 20% 50% 20%;
    width: 80%;
    padding: 0 5%;
}


article #main-message .block {
    padding: 3%;
    transition: 1s all;
    background-color: hsla(0, 0%, 98%, 0.6);
    backdrop-filter: bluer(10px);
    filter: drop-shadow(-5px 5px 5px  $grey);
}

article #main-message .block .button {
    font-size: $size-5;
    padding: 0 6%;
}
article #main-message h3 {
    padding: 0 2%;
    margin: 2% 0;
} 

article #main-message h1 {
    margin: 1% 0;
    padding: 0 2%;
}

article #main-message p {
    text-align: justify;
    text-indent: 3%;
    color: $text;
    line-height: 200%;
    margin: 4% 0;
    padding: 0 2%;
}

@media (max-width: 800px)
{
    $size-1: 200%;

    article#article-body {
        display: block;
        align-items: center;
        justify-content: center;
        padding: 1%;
        width: 100%;
    }

    article #main-message {
        text-align: center;
        width: 100%;
    }

    article #main-message h3 {
        margin: 4% 0;
    } 

    article #main-message h1 {
        margin: 4% 0;
    }

    article #main-message p {
        font-size: $size-5;
        margin: 8% 0;
    }
}