<section id="section-body">
    <div id="main-message" class="block media-content fadeOut" *ngIf="mainSlide">
        <h3 class="subtitle is-6">{{mainSlide.date}}</h3>
            <h1 class="title is-4">{{mainSlide.title}}</h1>
            <p class="content">{{mainSlide.text}}</p>
            <div class="button-div">
                <button class="button is-primary" id="explore-button">
                    {{mainSlide.buttonMessage}}
                </button>
            </div>
    </div>
</section>